{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"printWidth": 100,
	"requireConfig": true,
	"singleQuote": true,
	"semi": true,
	"trailingComma": "all",
	"useTabs": true,
	"eslintIntegration": true,
	"stylelintIntegration": true,
	"tslintIntegration": true
}
