.navContainer {
	height: 22vmin;
	background-color: white;
	padding: 4px;
	display: flex;
	flex-direction: column;
	z-index: 50;
	border-bottom: 1px solid rgba(33, 33, 33, 0.2);
	box-shadow: 0 2px 4px rgba(33, 33, 33, 0.4);
}

.logoContainer {
	max-height: 100%;
	height: 6vh;
	display: flex;
	align-content: space-between;
	margin: auto 4px;
}

.navBarMenuIcon {
	width: 2rem;
	height: 100%;
	object-fit: contain;
	margin: 0 8px 0;
}

.navBarHomeLink {

	/* width: 120px; */
}

.logo {
	min-width: 160px;
	max-height: 80%;
	height: 100%;
	margin: 4px;
}

.userProfiler {

	/* align-self: flex-end;
	justify-self: flex-end; */
	margin-left: auto;
	padding-left: 4px;

	/* border-left: 1px solid #00000050; */
}

.userAvatar {
	height: 36px;
	width: 36px;
	object-fit: contain;
	background-size: cover;
	background-color: #fff176;
	background-color: #ff1744;
	margin: 0 4px;
	border-radius: 50%;

	/* border: solid 1px #2e2e2e; */
	filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.2));
}

.linksContainer {
	width: 100%;
	display: flex;
	margin: auto 4px;
	justify-content: space-evenly;
}

.navbarLoginbtn {
	padding-left: 16px;
	border-left: 1px solid #00000050;
}

@media only screen and (min-width: 481px) {
	.navContainer {
		height: 64px;
		flex-direction: row;
		justify-content: space-between;
	}

	.logoContainer {
		height: 6vh;
	}

	.linksContainer {
		width: 36%;
		font-size: 1.3rem;

		/* height: 88%; */
	}

	.userProfiler {
		margin: auto 4px;
	}
}
